extends template
block variables
    - var title = 'Синтаксис CSS'
block content
    block menu
        .menu
            +createMenupageName(title)
    .content
        .upper-block
            p The selector points to the HTML element you want to style. The declaration block contains one or more declarations separated by semicolons. Each declaration includes a CSS property name and a value, separated by a colon. Multiple CSS declarations are separated with semicolons, and declaration blocks are surrounded by curly braces.
        .line-img
            img.galery-3(src="img/html.jpg")
            img.galery-3(src="img/syntax.jpg")
            img.galery-3(src="img/css2.jpg")
        .bottom-blocks
            .left-block 
                p If style sheets could only apply a declaration to each element of a Web page, they would be pretty useless. The real goal is to apply different declarations to different parts of the document. 
                p CSS allows this by associating conditions with declarations blocks. Each (valid) declaration block is preceded by a selector which is a condition selecting some elements of the page. The pair selector-declarations block is called a ruleset, or often simply a rule.
            .right-block 
                p As an element of the page may be matched by several selectors, and therefore by several rules eventually containing a given property several times, with different values, the CSS standard defines which one has precedence over the other and must be applied: this is called the cascade algorithm.
